html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#foDiv {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    position:absolute;
    width: 100%;
    height: 100%;
}

@keyframes gradient { 
    0%{background-position:0% 0%}
    50%{background-position:100% 100%}
    100%{background-position:0% 0%}
  }


#arrowSection {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50%;
  width: 28%;
  height: auto;
}

#bigSection {
    display: block;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: -15%;
    width: 50%;
    height: 50%;
    text-align: center;
    color: white;
}

img {
  object-fit: cover;
  width: 80px;
  height: 90px;
  border: 1px solid #ddd;
  border-radius: 4px;
  opacity: 0.9;
  padding: 0px;
}

#bigImage {
    display:block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
    opacity: 0.9;   
}

#bigImage:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#bigText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Great Vibes', cursive;
  font-size: 3em;
  animation-duration: 20s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes anim1 {
  0%, 33.33% {
    top: 10%;
    opacity: 0;
  }
  33.33%, 50% {
    top: 25%;
    opacity: 1;
  }
  50%, 100% {
    top: 90%;
    opacity: 0;
  }
}

#bigText {
  animation-name: anim1;
}

#indexSection {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items:center;
  border: 0px solid #ddd;
  border-radius: 4px;
  opacity: 1;
  padding: 0px;
  margin-top: 40%; 
  width: 70%;
  height: 10%;
}

#indexImages {
  width: 82px;
  height: 92px;
}

#leftArrow {
    border: 0;
    padding: 0;
    opacity: 0.3;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

#leftArrow:hover {
  opacity: 0.8;
}

#rightArrow {
  border: 0;
  padding: 0;
  opacity: 0.3;
}

#rightArrow:hover {
  opacity: 0.8;
}

#current {
  display: none;
}

.spanTooltip {
  display:none;
  position:absolute;
  color:white;
  border-radius:0;
  padding:0;
  top:-45px;
  width: 300px;
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}

